openapi: 3.0.0
info:
  title: REST API for B2Sign
  version: 1.0.0
servers:
  - url: https://sign.b2p.space/api
  - url: https://beta.sign.b2p.space/api
tags:
  - name: Document
    description: Document management
paths:
  /auth/start:
    post:
      tags:
        - Auth
        - Available Public
      summary: Start authentication process
      operationId: startAuth
      requestBody:
        $ref: "#/components/requestBodies/EmptyBody"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - proof
                properties:
                  proof:
                    type: string
  /auth/verify:
    post:
      tags:
        - Auth
        - Available Public
      summary: Verify authentication wallet
      operationId: verifyAuth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - proof
                - account
              properties:
                spaceId:
                  type: string
                  description: Selected Space ID
                proof:
                  type: object
                  required:
                    - payload
                    - signature
                    - timestamp
                    - domain
                  properties:
                    payload:
                      type: string
                      description: TON Connect payload
                    signature:
                      type: string
                      description: TON Connect signature
                    timestamp:
                      type: number
                      description: Timestamp of authentication
                    domain:
                      type: object
                      required:
                        - lengthBytes
                        - value
                      properties:
                        lengthBytes:
                          type: number
                        value:
                          type: string
                account:
                  type: object
                  required:
                    - address
                    - network
                    - publicKey
                    - walletStateInit
                  properties:
                    address:
                      type: string
                      description: Wallet Address
                      example: 0:c424531feb64afeb46607e0aff5609628207213308b62c123891d817389fc35b
                    network:
                      type: string
                      description: Blockchain chain
                    publicKey:
                      type: string
                      description: Wallet Public Key
                    walletStateInit:
                      type: string
                      description: Wallet Public Key
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - accessToken
                  - refreshToken
                  - profile
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  profile:
                    $ref: "#/components/schemas/User"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                errorCode: auth:404
                message: The proof has not found
  /auth/refresh:
    post:
      tags:
        - Auth
      security:
        - BearerAuth: []
      summary: Refresh Access Token by Refresh token
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - accessToken
                - refreshToken
              properties:
                spaceId:
                  type: string
                  description: Selected Space ID
                accessToken:
                  type: string
                refreshToken:
                  type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - accessToken
                  - refreshToken
                  - profile
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  profile:
                    $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/UserNotFound"
  /auth/profile:
    get:
      tags:
        - Auth
      security:
        - BearerAuth: []
      summary: Get Profile
      operationId: getProfile
      responses:
        "200":
          $ref: "#/components/responses/UserFullData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/UserNotFound"
    patch:
      tags:
        - Auth
      security:
        - BearerAuth: []
      summary: Update Profile
      operationId: updateProfile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  description: First Name
                lastName:
                  type: string
                  description: Last Name
                middleName:
                  type: string
                  description: Middle Name
                avatar:
                  type: string
                  description: Avatar
      responses:
        "200":
          $ref: "#/components/responses/UserFullData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/UserNotFound"
  /oauth/token:
    post:
      tags:
        - OAuth Client
        - Available Public
      summary: Exchange credentials, device_code, refresh_token for new tokens
      operationId: exchangeToken
      requestBody:
        $ref: "#/components/requestBodies/ApiClientExchangeTokenBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientExchangeTokenData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /oauth/device/code:
    post:
      tags:
        - OAuth Client
        - Available Public
      summary: Get device code for device authorization
      operationId: getDeviceCode
      requestBody:
        $ref: "#/components/requestBodies/ApiClientGetDeviceCodeBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientGetDeviceCodeData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /oauth/device/verification:
    post:
      tags:
        - OAuth Client
        - Available Public
      summary: Verify device code and get access token
      operationId: verifyDeviceCode
      responses:
        "501":
          $ref: "#/components/responses/NotImplemented"
  /oauth/device/authorize:
    get:
      tags:
        - OAuth Client
        - Available Public
      summary: Authorize device code
      operationId: authorizeDeviceCode
      responses:
        "501":
          $ref: "#/components/responses/NotImplemented"
  /oauth/introspect:
    get:
      tags:
        - OAuth Client
        - Available Public
      summary: Check token validity and info
      operationId: introspectToken
      responses:
        "200":
          $ref: "#/components/responses/ApiClientIntrospectData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /oauth/info:
    get:
      tags:
        - OAuth Client
      security:
        - ApiClientAuth: []
      summary: Get OAuth client info
      operationId: getClientInfo
      responses:
        "200":
          $ref: "#/components/responses/ApiClientWithSecretData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /oauth/revoke:
    post:
      tags:
        - OAuth Client
      security:
        - ApiClientAuth: []
      summary: Revoke access or refresh token
      operationId: revokeToken
      requestBody:
        $ref: "#/components/requestBodies/ApiClientRevokeTokenBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientRevokeTokenData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /oauth/logout:
    post:
      tags:
        - OAuth Client
      security:
        - ApiClientAuth: []
      summary: Logout and revoke tokens
      operationId: logoutToken
      requestBody:
        $ref: "#/components/requestBodies/ApiClientRevokeTokenBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientRevokeTokenData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /clients/search:
    post:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Search API Clients
      operationId: searchApiClients
      requestBody:
        $ref: "#/components/requestBodies/ApiClientsSearchBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientsListData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /clients/register:
    post:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Register a new API Client
      operationId: registerApiClient
      requestBody:
        $ref: "#/components/requestBodies/ApiClientRegisterBody"
      responses:
        "201":
          $ref: "#/components/responses/ApiClientWithSecretData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/clients/{id}":
    get:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Get API client details
      operationId: getApiClient
      parameters:
        - $ref: "#/components/parameters/apiClientIdParam"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientWithSecretData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    patch:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Update API client
      operationId: updateApiClient
      parameters:
        - $ref: "#/components/parameters/apiClientIdParam"
      requestBody:
        $ref: "#/components/requestBodies/ApiClientModifyBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientWithSecretData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Delete API client
      operationId: deleteApiClient
      parameters:
        - $ref: "#/components/parameters/apiClientIdParam"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/clients/{id}/revoke":
    post:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Revoke API Client tokens
      parameters:
        - $ref: "#/components/parameters/apiClientIdParam"
      operationId: revokeApiClientToken
      requestBody:
        $ref: "#/components/requestBodies/ApiClientRevokeTokenBody"
      responses:
        "200":
          $ref: "#/components/responses/ApiClientRevokeTokenData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/clients/{id}/block":
    post:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Block API Client
      parameters:
        - $ref: "#/components/parameters/apiClientIdParam"
      operationId: blockApiClient
      responses:
        "200":
          $ref: "#/components/responses/ApiClientData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/clients/{id}/unblock":
    post:
      tags:
        - API Clients
      security:
        - BearerAuth: []
      summary: Unblock API Client
      parameters:
        - $ref: "#/components/parameters/apiClientIdParam"
      operationId: unblockApiClient
      responses:
        "200":
          $ref: "#/components/responses/ApiClientData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ApiClientNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /documents:
    post:
      summary: Register new document signatures request
      operationId: createDocument
      tags:
        - Document
      security:
        - BearerAuth: []
        - ApiClientAuth: []
      requestBody:
        $ref: "#/components/requestBodies/CreateDocumentBody"
      responses:
        "201":
          $ref: "#/components/responses/DocumentFullData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /documents/search:
    post:
      summary: Search documents
      operationId: searchDocuments
      tags:
        - Document
      security:
        - BearerAuth: []
        - ApiClientAuth: []
      requestBody:
        $ref: "#/components/requestBodies/SearchDocumentsBody"
      responses:
        "200":
          $ref: "#/components/responses/SearchDocumentsData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/documents/{id}":
    get:
      summary: Get document data
      operationId: getDocument
      tags:
        - Document
      security:
        - BearerAuth: []
        - ApiClientAuth: []
      parameters:
        - $ref: "#/components/parameters/documentIdParam"
      responses:
        "200":
          $ref: "#/components/responses/DocumentFullData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
    delete:
      summary: Delete document
      operationId: deleteDocument
      tags:
        - Document
      security:
        - BearerAuth: []
        - ApiClientAuth: []
      parameters:
        - $ref: "#/components/parameters/documentIdParam"
      responses:
        "200":
          $ref: "#/components/responses/DocumentFullData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  "/documents/{id}/sign":
    post:
      summary: Sign a document
      operationId: signDocument
      tags:
        - Document
      security:
        - BearerAuth: []
        - ApiClientAuth: []
      parameters:
        - $ref: "#/components/parameters/documentIdParam"
      requestBody:
        $ref: "#/components/requestBodies/SignDocumentBody"
      responses:
        "200":
          $ref: "#/components/responses/DocumentFullData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
  /documents/sign-check:
    post:
      summary: Check a document signature
      operationId: checkDocumentSignature
      tags:
        - Document
        - Available Public
      requestBody:
        $ref: "#/components/requestBodies/CheckDocumentSignatureBody"
      responses:
        "200":
          $ref: "#/components/responses/DocumentSignatureCheckData"
        "400":
          $ref: "#/components/responses/InvalidData"
        "404":
          $ref: "#/components/responses/DocumentNotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User authorization
    ApiClientAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: API Client Authorization
  schemas:
    ErrorResponse:
      type: object
      required:
        - errorCode
        - message
      properties:
        errorCode:
          type: string
        message:
          type: string
    SortModel:
      type: object
      required:
        - field
      properties:
        field:
          type: string
          description: The field for sorting
        sort:
          type: string
          nullable: true
          enum:
            - asc
            - desc
          description: The sorting order
    SearchModel:
      type: object
      properties:
        limit:
          type: number
          description: Number of return items
        offset:
          type: number
          description: Number of skip items
        sort:
          type: array
          items:
            $ref: "#/components/schemas/SortModel"
    User:
      type: object
      required:
        - id
        - firstName
      properties:
        id:
          type: string
          description: Wallet Address
          example: 0:c424531feb64afeb46607e0aff5609628207213308b62c123891d817389fc35b
        firstName:
          type: string
          description: First Name
        lastName:
          type: string
          description: Last Name
        middleName:
          type: string
          description: Middle Name
        avatar:
          type: string
          description: Avatar
    TMAUser:
      type: object
      required:
        - id
        - firstName
      properties:
        id:
          type: number
          description: Telegram User ID
        firstName:
          type: string
          description: First Name
        lastName:
          type: string
          description: Last Name
        username:
          type: string
          description: Username
        isBot:
          type: boolean
          description: If `true` user is a bot
        isPremium:
          type: boolean
          description: If `true` user is a premium user
        languageCode:
          type: string
          description: Language Code
        photoUrl:
          type: string
          description: URL to User Photo
        addedToAttachmentMenu:
          type: boolean
          description: If `true` user has added the bot to attachment menu
        allowsWriteToPm:
          type: boolean
          description: If `true` user allows writing to PM
    UserFull:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          required:
            - createdAt
          properties:
            publicKes:
              type: array
              items:
                type: string
              description: List of Public Keys
            tma:
              $ref: "#/components/schemas/TMAUser"
            createdAt:
              type: string
              format: date-time
              description: Date and time of creation
            updatedAt:
              type: string
              format: date-time
              description: Date and time of last update
    AuthErrorCodes:
      type: string
      enum:
        - api:403
        - auth:401
        - auth:403
        - auth:404
        - user:404
    ApiClientGrantType:
      type: string
      enum:
        - client_credentials
        - refresh_token
        - device_code
      description: Supported grant types for API clients
    ApiClientBase:
      type: object
      required:
        - id
        - name
        - status
        - createdBy
        - grantTypes
      properties:
        id:
          type: string
          format: uuid
          description: Client ID
        name:
          type: string
          description: Client name
        status:
          type: string
          enum:
            - active
            - inactive
          description: Indicates the status of the client
        grantTypes:
          type: array
          items:
            $ref: "#/components/schemas/ApiClientGrantType"
          description: Supported grant types
        createdBy:
          type: string
          description: Creator Wallet address
        sub:
          type: string
          description: Subject (sub) claim for the client
        scopes:
          type: array
          items:
            type: string
          description: List of scopes granted to the client
        webhookUrl:
          type: string
          description: Webhook URL to send notifications from the client
        lastUsedAt:
          type: string
          format: date-time
          description: Last used date
        blockedAt:
          type: string
          format: date-time
          description: Blocked date
    ApiClient:
      allOf:
        - $ref: "#/components/schemas/ApiClientBase"
        - type: object
          required:
            - createdAt
          properties:
            createdAt:
              type: string
              format: date-time
              description: Creation date
            updatedAt:
              type: string
              format: date-time
              description: Update date
    ApiClientWithSecret:
      allOf:
        - $ref: "#/components/schemas/ApiClient"
        - type: object
          required:
            - secret
          properties:
            secret:
              type: string
              description: Client secret
    ApiClientErrorCodes:
      type: string
      enum:
        - api-client:400-blocked
        - api-client:400-code-pending
        - api-client:400-inactive
        - api-client:400-invalid-jwt
        - api-client:400-not-blocked
        - api-client:400-unsupported-grant-type
        - api-client:400-unsupported-scope
        - api-client:401
        - api-client:403
        - api-client:404
        - api-client:404-oauth-public-key
    B2SignErrorCodes:
      type: string
      enum:
        - document:400-hash-invalid
        - document:403
        - document:404
        - document:access:400-exists
        - document:signature:404
        - document:signature:400-exists
        - document:signature:400-invalid
    DocumentAccess:
      type: string
      enum:
        - sign
        - full
      description: Document access level
    DocumentData:
      type: object
      required:
        - id
        - hash
        - signOrder
        - createdAt
      properties:
        id:
          type: string
          description: Document ID (primary key)
        hash:
          type: string
          description: Document hash (unique)
        clientId:
          type: string
          nullable: true
          description: API client ID
        createdBy:
          type: string
          nullable: true
          description: User TON Address who created the document
        signOrder:
          type: number
          description: Current signature order
        createdAt:
          type: string
          format: date-time
          description: Document creation date
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: Document last update date
        signedAt:
          type: string
          format: date-time
          nullable: true
          description: Document signing date
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Document deletion date
    DocumentSignatureData:
      type: object
      required:
        - documentId
        - order
        - signedBy
      properties:
        documentId:
          type: string
          description: Document ID reference
        order:
          type: number
          description: Signature order
        signedBy:
          type: string
          description: User TON Address who signed
        signedAt:
          type: string
          format: date-time
          nullable: true
          description: Signature date
        publicKey:
          type: string
          nullable: true
          description: Public key of signer's TON Wallet
        signature:
          type: string
          nullable: true
          description: Digital signature
        timestamp:
          type: number
          nullable: true
          description: Unix timestamp
    DocumentAccessData:
      type: object
      required:
        - documentId
        - userId
        - access
      properties:
        documentId:
          type: string
          description: Document ID reference
        userId:
          type: string
          description: User TON Address
        access:
          $ref: "#/components/schemas/DocumentAccess"
    DocumentFullData:
      allOf:
        - $ref: "#/components/schemas/DocumentData"
        - type: object
          required:
            - signatures
            - access
          properties:
            signatures:
              type: array
              items:
                $ref: "#/components/schemas/DocumentSignatureData"
            access:
              type: array
              items:
                $ref: "#/components/schemas/DocumentAccessData"
  requestBodies:
    EmptyBody:
      content:
        application/json:
          schema:
            type: object
    ApiClientRegisterBody:
      content:
        application/json:
          schema:
            type: object
            required:
              - name
              - grantTypes
            properties:
              name:
                type: string
                description: Client name
              grantTypes:
                type: array
                items:
                  $ref: "#/components/schemas/ApiClientGrantType"
                description: Supported grant types
              sub:
                type: string
                description: Subject (sub) claim for the client
              scopes:
                type: array
                items:
                  type: string
                description: Allowed scopes
              webhookUrl:
                type: string
                description: Webhook URL to send notifications from the client
    ApiClientModifyBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: Client name
              grantTypes:
                type: array
                items:
                  $ref: "#/components/schemas/ApiClientGrantType"
                description: Supported grant types
              sub:
                type: string
                description: Subject (sub) claim for the client
              scopes:
                type: array
                items:
                  type: string
                description: Allowed scopes
              webhookUrl:
                type: string
                description: Webhook URL to send notifications from the client
    ApiClientsSearchBody:
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/SearchModel"
              - type: object
                properties:
                  searchTerm:
                    type: string
                    description: Search term to filter clients by name
                  isActive:
                    type: boolean
                    description: Filter by client active/inactive status
                  isBlocked:
                    type: boolean
                    description: Filter by client blocked status
                  ids:
                    type: array
                    items:
                      type: string
                      format: uuid
                    description: Filter by specific client IDs
                  subs:
                    type: array
                    items:
                      type: string
                    description: Filter by client subject (sub) claims
                  createdBy:
                    type: array
                    items:
                      type: string
                    description: Filter by creator Wallet addresses
                  grandTypes:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiClientGrantType"
                    description: Filter by supported grant types
    ApiClientExchangeTokenBody:
      content:
        application/json:
          schema:
            type: object
            required:
              - grantType
              - clientId
            properties:
              grantType:
                $ref: "#/components/schemas/ApiClientGrantType"
                description: Grant type for token exchange
              clientId:
                type: string
                description: Client ID
              clientSecret:
                type: string
                description: Client secret
              refreshToken:
                type: string
                description: Refresh token
              deviceCode:
                type: string
                description: Device code
              scope:
                type: string
                description: Requested scope
    ApiClientGetDeviceCodeBody:
      content:
        application/json:
          schema:
            type: object
            required:
              - clientId
              - scope
            properties:
              clientId:
                type: string
                description: Client ID
              scope:
                type: string
                description: Requested scope
    ApiClientRevokeTokenBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
                description: Token to revoke (optional). If not provided, all tokens for the
                  client will be revoked
    SearchDocumentsBody:
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/SearchModel"
              - type: object
                properties:
                  searchTerm:
                    type: string
                    description: Search by partial document hash
                  sub:
                    type: string
                    description: Search by sub
                  creators:
                    type: array
                    items:
                      type: string
                  signers:
                    type: array
                    items:
                      type: string
                  isDeleted:
                    type: boolean
                  isSigned:
                    type: boolean
    CreateDocumentBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - hash
              - signatures
            properties:
              hash:
                type: string
                description: Document hash
              signatures:
                type: array
                items:
                  type: object
                  required:
                    - signedBy
                    - order
                  properties:
                    signedBy:
                      type: string
                      description: User TON Address who signed
                    order:
                      type: number
                      description: Signature order
    SignDocumentBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - hash
              - publicKey
              - signature
              - timestamp
            properties:
              hash:
                type: string
                description: Document hash
              publicKey:
                type: string
                description: Public key of signer's TON Wallet
              signature:
                type: string
                description: Digital signature
              timestamp:
                type: number
                description: Unix timestamp
    CheckDocumentSignatureBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - hash
              - publicKey
              - signature
              - timestamp
            properties:
              hash:
                type: string
                description: Document hash
              publicKey:
                type: string
                description: Public key of signer's TON Wallet
              signature:
                type: string
                description: Digital signature
              timestamp:
                type: number
                description: Unix timestamp
  responses:
    InvalidData:
      description: Invalid request data
    TooManyRequests:
      description: Too many requests
    NotImplemented:
      description: Not implemented
    Unauthorized:
      description: Unauthorized
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errorCode: api:403
            message: You don't have access to this method
    UserData:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/User"
    UserFullData:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UserFull"
    UserNotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errorCode: user:404
            message: User does not exist
    ApiClientData:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiClient"
    ApiClientWithSecretData:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiClientWithSecret"
    ApiClientsListData:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            required:
              - items
              - total
            properties:
              items:
                type: array
                items:
                  $ref: "#/components/schemas/ApiClientBase"
              total:
                type: integer
    ApiClientExchangeTokenData:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            required:
              - accessToken
              - tokenType
              - expiresIn
            properties:
              accessToken:
                type: string
                description: Access token for the client
              tokenType:
                type: string
                enum:
                  - Bearer
                description: Type of the token
              expiresIn:
                type: integer
                description: Token expiration time in seconds
              refreshToken:
                type: string
                description: Refresh token for the client
              scopes:
                type: array
                items:
                  type: string
                description: Granted scopes for the token
    ApiClientGetDeviceCodeData:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            required:
              - deviceCode
              - userCode
              - verificationUrl
              - expiresIn
            properties:
              deviceCode:
                type: string
                description: Device code for the client
              userCode:
                type: string
                description: User code for the client
              verificationUrl:
                type: string
                description: URL for user verification
              expiresIn:
                type: integer
                description: Device code expiration time in seconds
    ApiClientIntrospectData:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            required:
              - active
              - clientId
            properties:
              active:
                type: boolean
                description: Indicates if the token is active
              clientId:
                type: string
                description: Client ID associated with the token
              scopes:
                type: array
                items:
                  type: string
                description: Scopes granted to the token
              iss:
                type: string
                description: Issuer of the token
              aud:
                type: string
                description: Audience of the token
              sub:
                type: string
                description: Subject (sub) claim of the token
              iat:
                type: integer
                description: Token issued at time in seconds
              exp:
                type: integer
                description: Token expiration time in seconds
    ApiClientRevokeTokenData:
      description: Successful operation
      content:
        application/json:
          schema:
            type: array
            items:
              type: string
            description: List of revoked tokens
    ApiClientNotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errorCode: client:404
            message: Client not found
    DocumentNotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            errorCode: document:404
            message: Document not found
    DocumentFullData:
      description: Successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DocumentFullData"
    SearchDocumentsData:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            required:
              - total
              - items
            properties:
              total:
                type: integer
              items:
                type: array
                items:
                  $ref: "#/components/schemas/DocumentFullData"
    DocumentSignatureCheckData:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            required:
              - isValid
            properties:
              isValid:
                type: boolean
                description: Signature check result
              signedAt:
                type: string
                format: date-time
                description: Signed document date
  parameters:
    apiClientIdParam:
      in: path
      name: id
      description: Client ID
      required: true
      schema:
        type: string
    documentIdParam:
      name: id
      in: path
      description: Document ID
      required: true
      schema:
        type: string
